@import 'nav.css';
@import 'footer.css';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.hero-section {
    width: 100%;
    height: calc(100vh - 120px);
    /* background-image: url('../Images/header02.jpg'); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(0.8) opacity(0.9);
}

.hero-section .content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../Images/header02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-section .slide_two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../Images/header03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .slide_three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../Images/header04.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .slide_four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../Images/header05.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .slide_five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../Images/header01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide_content{
    color: #fff;
    max-width: 650px;
    padding: 25px 25px 0 25px;
    /* border-width:4px 4px 0 4px;
    border-color:#fddc5c;
    border-style: solid; */

}

.hero-section .logo{
    height: 150px;
    display: block;
    margin: auto;
    
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    filter:brightness(1.0);
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}

.hero-section.slick_slider{
    margin-bottom: 0;

}

.hero-section .slick-dots{
    width:100%;
    bottom:6%;
}

.hero-section .slick-dots li button::before{
    font-size: 16px;
    color:#fddc5c;
}

.hero-section .slick-dots li{
    margin:0 3px;
    
}

.hero-section .slick-dots li.slick-active button::before{
    opacity:1;
    color:#fddc5c;
}

.hero-section .slick-arrow{
position: relative;
top:50%;
display:block;
z-index: 9;
transform: translate(0, -50%);
cursor:pointer;
}

.hero-section .slick-arrow.prev{
    left:0;
    margin-bottom: 30%;
}

.hero-section .slick-arrow.next{
    right: 0;
    margin-bottom: 30%;
}

.hero-section .slick-arrow span{
    color:gold;
    font-size:50px;
    padding: 8px;
    align-items: center;

}

.logo .sub-heading{
    align-items: center;
    position: relative;
    overflow:hidden;
    object-position: center;

}




/* product */

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;

}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height:450px;
    margin-right: 40px;

}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
    width:100%;
    height:350px;
    object-fit: cover;

}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff0000;
    right: 10px;
    top: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline:none;
    background: #fddc5c;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}


.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 10px;
    padding-top: 10px;

}

.product-brand{
    text-transform: uppercase;

}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow:hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0; 
}

.price{
    font-weight: 900;
    font-size: 20px;

}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;

}

.pre-btn, .nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position:absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;

}

.pre-btn{
    left:0;
    transform: rotate(180deg);
}

.nxt-btn{
    right:0;
}

.pre-btn img, .nxt-btn img{
    opacity:0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity:1;
    
}

.collection-container{
    width:100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.collection{
    position: relative;

}


.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;

}

.collection p{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    text-align:center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
    opacity: 0.6;
}

.collection p:hover{
    color: #fddc5c;
    opacity: 1;
}

.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;

}


#banner{
    background-image: url('/Images/banner.jpg');
    width:100%;
    height:60vh;
    background-size: cover;
    background-position: top 70x center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    filter: opacity(0.9);
    margin-top: 2.5rem; 
    margin-bottom: 2.5rem; 
    padding-top: 3rem; 
    padding-bottom: 3rem; 
}


#banner h4{
 color:#fddc5c;
 text-transform: capitalize;

}

#banner h1{
    color:orangered;
    margin-top: 30px;
    
   }


   #banner button {
    background-color: gold;
    padding: 10px 20px; 
    border: none;
    color: rgb(4, 4, 4);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px; 
    margin-left: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 35px;
}

#banner button:hover {
    background-color: darkorange; 
}